@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Redressed&display=swap');

/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}*/

.merriweather {
	font-family: 'Merriweather', sans-serif;
}

.amotic {
	font-family: 'Amatic SC';
}

.btn-color-primary {
	background-color: #ce1212 !important;
	line-height: 1.5;
	letter-spacing: 1px;
}


/*Nav bar*/
div ul li a:hover {
	border-bottom: 3px solid #dc3545;
	transition: all 0.3s ease-in-out 0s !important;
}

.niveau1 {
	margin-top: 100px;
}

/* Section 1 */
.niveau1 .row {
	height: 100% !important;
	padding-top: 100px;
}

.bg-left-about {
	background-image: url(images/about.jpg);
	background-repeat: no-repeat;
	background-position: 100%;
	background-size: cover;
}


.fs-right-about {
	font-size: clamp(8px, 6vw, 15px);
}


.btn-link:hover {
	background-color: white !important;
	color: #ce1212 !important;
}
/* Section */
.sec1{
	margin-top: 6%;
	padding-top: 2%;
}
.sec1{
	overflow: hidden;
	scrollbar-width: none;
}

.card svg{
	margin-top: -70px;
}
/*.card-body{
	margin-top: -40px;
}*/


.sec1 .card:hover{
	    transform: scale(1.08) !important;
	    cursor: pointer !important;
}

.sec1 h4{
	font-family: "Amatic SC" !important;
	font-weight: 400 !important;
	
}

.icon{
	right: 15px;
	top: 60px;
	display: none !important;
	visibility: hidden;
	
}

.sec1 .card:hover .icon{
	
	visibility: visible;
	opacity: 0.4;
}

.sec1 p{
	    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #7f7f90;
}


/*footer*/

footer p{
	color: gray;
	font-weight: 400;
}